@import "tailwindcss";

@theme {
    --default-font-family: "Uber Move", sans-serif;

    --color-primary: #000000;
    --color-secondary: #266EF1;
    --color-input: #F2F2F3;
    --color-subtitle: #6A6A6A;
    --shadow-intense: 0 8px 30px rgb(0,0,0,0.12);
}

@font-face {
    font-family: "Uber Move";
    src: local("UberMove-Regular"),
    url("./assets/fonts/UberMove-Regular.ttf") format("truetype");
}
